* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height:100vh
}

section {

    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;  
    scroll-snap-align: start;
    font-size: 5rem;
}


button {
    background-color: black;
}

span{
    font-size: 1.2em;

}



.homepage{
    background-color: #E3FEF7;
}


.navigazione{
    background-color: #77B0AA;
 /*  justify-content: center; */
   /* align-items: center; */
    height: 20vh;
    width: 100vw;

    
}
/*
.navigazione ul{
    display: flex; 
}
.navigazione ul li{
   
}
/*
.navigazione span{
    font-size: 0.8em;
}
.navigazione span:hover{
    font-size: 1em;
}
*/
.introduzione{
   
    background-color: #E3FEF7;
}
.privacy{
  
  /*  background-color: #E3FEF7;*/
    background-color: #77B0AA;
}
.cyber{
    background-color: #E3FEF7;
   /* background-color: #77B0AA;*/
}
.sicurrezza{
   
    background-color: #E3FEF7;
}
.bnr{
    background-color: #77B0AA;

}
#inizia {
    color: white;
    text-decoration: none;

}


a {
    color: black;
    /* text-decoration: none; */
}